
<div class="container">
  
  <div class="toolbox">
    <button mat-raised-button (click)="addElement()">Add Element</button>
  </div>
  <div class="canvas" cdkDropList (cdkDropListDropped)="drop($event)">
    <div
      *ngFor="let element of elements"
      [ngStyle]="{ top: element.top, left: element.left, position: 'absolute' }"
      class="draggable"
      cdkDrag
      (cdkDragMoved)="dragMoved($event, element)"
    >
      {{ element.name }}
      <button mat-icon-button (click)="editElement(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteElement(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>